.header {
  --bg-color: 22 22 22;
  --text-color: 248 248 248;
  --text-over-media-color: 255 255 255;
  --menu-drawer-bg-color: 22 22 22;
  --menu-drawer-text-color: 248 248 248;
  --nav-font-size: 24px;
  --nav-inline-font-size: 16px;
  --cart-icon-bg-color: 219 255 61;
  --cart-icon-text-color: 22 22 22;
}
.js .cc-header {
  position: -webkit-sticky;
  position: sticky;
}
.viewport-height,
.viewport-height .slide {
  min-height: calc(100svh - var(--header-height) + 24px);
}
.js .cc-header {
  min-height: calc(var(--header-height) - var(--announcement-height, 0px));
}
.js .active-banner:first-child {
  margin-top: calc(var(--header-height) * -1);
}
.js .active-banner:first-child .viewport-height,
.js .active-banner:first-child .viewport-height .slide {
  min-height: 100svh;
}
.js .active-banner:first-child .text-overlay {
  margin-top: calc(var(--header-height) + 20px);
}
@media (max-width: 639.98px) {
  .js .active-banner:first-child .mobile-stacked .text-overlay {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .js .active-banner:first-child .text-overlay {
    margin-top: calc(var(--header-height) + 40px);
  }
}
.header--inline-visible.header--inline-logo-left .header-icons,
.header--inline-visible.header--inline-logo-left .logo {
  flex-basis: 145px !important;
}
.header--inline-logo-left:not(.header--inline-visible) .nav-row {
  min-width: calc(100vw - 390px);
}
.logo__image {
  max-width: 145px;
}

/* ------------ */

.header {
  --bg-color: 22 22 22;
  --text-color: 248 248 248;
  --text-over-media-color: 255 255 255;
  --menu-drawer-bg-color: 22 22 22;
  --menu-drawer-text-color: 248 248 248;
  --nav-font-size: 24px;
  --nav-inline-font-size: 16px;
  --cart-icon-bg-color: 219 255 61;
  --cart-icon-text-color: 22 22 22;
}
.js .cc-header {
  position: -webkit-sticky;
  position: sticky;
}
.viewport-height,
.viewport-height .slide {
  min-height: calc(100svh - var(--header-height) + 24px);
}
.js .cc-header {
  min-height: calc(var(--header-height) - var(--announcement-height, 0px));
}
.js .active-banner:first-child {
  margin-top: calc(var(--header-height) * -1);
}
.js .active-banner:first-child .viewport-height,
.js .active-banner:first-child .viewport-height .slide {
  min-height: 100svh;
}
.js .active-banner:first-child .text-overlay {
  margin-top: calc(var(--header-height) + 20px);
}
@media (max-width: 639.98px) {
  .js .active-banner:first-child .mobile-stacked .text-overlay {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .js .active-banner:first-child .text-overlay {
    margin-top: calc(var(--header-height) + 40px);
  }
}
.header--inline-visible.header--inline-logo-left .header-icons,
.header--inline-visible.header--inline-logo-left .logo {
  flex-basis: 145px !important;
}
.header--inline-logo-left:not(.header--inline-visible) .nav-row {
  min-width: calc(100vw - 390px);
}
.logo__image {
  max-width: 145px;
}
